@mixin font-test-10 {
  font: var( --rds-type-test-10 );
}
@mixin font-test-9 {
  font: var( --rds-type-test-9 );
}
@mixin font-test-8 {
  font: var( --rds-type-test-8 );
}
@mixin font-test-7 {
  font: var( --rds-type-test-7 );
}
@mixin font-test-6 {
  font: var( --rds-type-test-6 );
}
@mixin font-test-5 {
  font: var( --rds-type-test-5 );
}
@mixin font-test {
  font: var( --rds-type-test );
}
@mixin font-test-4 {
  font: var( --rds-type-test-4 );
}
@mixin font-test-3 {
  font: var( --rds-type-test-3 );
}
@mixin font-test-2 {
  font: var( --rds-type-test-2 );
}
@mixin font-test-1 {
  font: var( --rds-type-test-1 );
}
@mixin font-text-10 {
  font: var( --rds-type-text-10 );
}
@mixin font-text-9 {
  font: var( --rds-type-text-9 );
}
@mixin font-text-8 {
  font: var( --rds-type-text-8 );
}
@mixin font-text-7 {
  font: var( --rds-type-text-7 );
}
@mixin font-text-6 {
  font: var( --rds-type-text-6 );
}
@mixin font-text-5 {
  font: var( --rds-type-text-5 );
}
@mixin font-text {
  font: var( --rds-type-text );
}
@mixin font-text-4 {
  font: var( --rds-type-text-4 );
}
@mixin font-text-3 {
  font: var( --rds-type-text-3 );
}
@mixin font-text-2 {
  font: var( --rds-type-text-2 );
}
@mixin font-text-1 {
  font: var( --rds-type-text-1 );
}