[style~="--rds-alignment-center:"],
[style~="--rds-alignment-center-center:"] {
  --ai-h: center;
  --jc-h: center;
  --ai-v: center;
  --jc-v: center;
}
[style~="--rds-alignment-center-left:"],
[style~="--rds-alignment-left-center:"] {
  --ai-h: center;
  --jc-h: flex-start;
  --ai-v: flex-start;
  --jc-v: center;
}
[style~="--rds-alignment-center-right:"],
[style~="--rds-alignment-right-center:"] {
  --ai-h: center;
  --jc-h: flex-end;
  --ai-v: flex-end;
  --jc-v: center;
}
[style~="--rds-alignment-top:"],
[style~="--rds-alignment-top-left:"],
[style~="--rds-alignment-left-top:"],
[style~="--rds-alignment-left:"] {
  --ai-h: flex-start;
  --jc-h: flex-start;
  --ai-v: flex-start;
  --jc-v: flex-start;
}
[style~="--rds-alignment-top-center:"],
[style~="--rds-alignment-center-top:"] {
  --ai-h: flex-start;
  --jc-h: center;
  --ai-v: center;
  --jc-v: flex-start;
}
[style~="--rds-alignment-top-right:"],
[style~="--rds-alignment-right-top:"],
[style~="--rds-alignment-right:"] {
  --ai-h: flex-start;
  --jc-h: flex-end;
  --ai-v: flex-end;
  --jc-v: flex-start;
}
[style~="--rds-alignment-bottom-left:"],
[style~="--rds-alignment-left-bottom:"],
[style~="--rds-alignment-bottom:"] {
  --ai-h: flex-end;
  --jc-h: flex-start;
  --ai-v: flex-start;
  --jc-v: flex-end;
}
[style~="--rds-alignment-bottom-center:"],
[style~="--rds-alignment-center-bottom:"] {
  --ai-h: flex-end;
  --jc-h: center;
  --ai-v: center;
  --jc-v: flex-end;
}
[style~="--rds-alignment-bottom-right:"],
[style~="--rds-alignment-right-bottom:"] {
  --ai-h: flex-end;
  --jc-h: flex-end;
  --ai-v: flex-end;
  --jc-v: flex-end;
}
[style~="--rds-alignment-stretch:"],
[style~="--rds-alignment-stretch-left:"],
[style~="--rds-alignment-left-stretch:"],
[style~="--rds-alignment-stretch-top:"],
[style~="--rds-alignment-top-stretch:"] {
  --ai-h: stretch;
  --jc-h: flex-start;
  --ai-v: stretch;
  --jc-v: flex-start;
}
[style~="--rds-alignment-stretch-right:"],
[style~="--rds-alignment-right-stretch:"],
[style~="--rds-alignment-stretch-bottom:"],
[style~="--rds-alignment-bottom-stretch:"] {
  --ai-h: stretch;
  --jc-h: flex-end;
  --ai-v: stretch;
  --jc-v: flex-end;
}
[style~="--rds-alignment-stretch-center:"],
[style~="--rds-alignment-center-stretch:"] {
  --ai-h: stretch;
  --jc-h: center;
  --ai-v: stretch;
  --jc-v: center;
}
[style~="--rds-baseline:"],
[style~="--rds-alignment-baseline-left:"],
[style~="--rds-alignment-left-baseline:"] {
  --ai-h: baseline;
  --jc-h: flex-start;
  --ai-v: flex-start;
  --jc-v: flex-start;
}
[style~="--rds-alignment-baseline-right:"],
[style~="--rds-alignment-right-baseline:"] {
  --ai-h: baseline;
  --jc-h: flex-start;
  --ai-v: flex-start;
  --jc-v: flex-start;
}
[style~="--rds-alignment-baseline-center:"],
[style~="--rds-alignment-center-baseline:"] {
  --ai-h: baseline;
  --jc-h: center;
  --ai-v: center;
  --jc-v: flex-start;
}
[style~="--rds-background-color:"] {
  --background-color: var( --rds-background-color );
  background-color: var( --background-color );
}
[style~="--rds-background-color-hover:"]:hover {
  background-color: var( --rds-background-color-hover );
}
[style~="--rds-color:"] {
  --color: var( --rds-color );
  color: var( --color );
}
[style~="--rds-color-hover:"]:hover {
  color: var( --rds-color-hover );
}
[style~="--rds-border-color:"] {
  border-color: var( --rds-border-color );
}
[style~="--rds-border:"] {
  border: 1px solid var( --rds-border );
}
[style~="--rds-border-top:"] {
  border-top: 1px solid var( --rds-border-top );
}
[style~="--rds-border-bottom:"] {
  border-bottom: 1px solid var( --rds-border-bottom );
}
[style~="--rds-border-left:"] {
  border-left: 1px solid var( --rds-border-left );
}
[style~="--rds-border-right:"] {
  border-right: 1px solid var( --rds-border-right );
}
[style~="--rds-font:"] {
  font: var( --rds-font );
}
rds-element,
[style~="--rds-element:"] {
  /* element */
  position: relative;
  box-sizing: border-box;
  --margin-right: initial;
  --margin-bottom: initial;
  --gap-h-int: initial;
  --gap-v-int: initial;
  margin-right: var( --margin-right, var( --gap-h-int, initial ) );
  margin-bottom: var( --margin-bottom, var( --gap-v-int, initial ) );
  display: block;
}
rds-layout,
[style~="--rds-layout:"] {
  /* element */
  position: relative;
  box-sizing: border-box;
  --margin-right: initial;
  --margin-bottom: initial;
  --gap-h-int: initial;
  --gap-v-int: initial;
  margin-right: var( --margin-right, var( --gap-h-int, initial ) );
  margin-bottom: var( --margin-bottom, var( --gap-v-int, initial ) );
  display: block;
}
rds-text,
[style~="--rds-text:"] {
  /* element */
  position: relative;
  box-sizing: border-box;
  --margin-right: initial;
  --margin-bottom: initial;
  --gap-h-int: initial;
  --gap-v-int: initial;
  margin-right: var( --margin-right, var( --gap-h-int, initial ) );
  margin-bottom: var( --margin-bottom, var( --gap-v-int, initial ) );
  display: inline-block;
}
rds-stack,
[style~="--rds-stack:"] {
  /* element */
  position: relative;
  box-sizing: border-box;
  --margin-right: initial;
  --margin-bottom: initial;
  --gap-h-int: initial;
  --gap-v-int: initial;
  margin-right: var( --margin-right, var( --gap-h-int, initial ) );
  margin-bottom: var( --margin-bottom, var( --gap-v-int, initial ) );
  display: block;
}
rds-stack > *:nth-child(n),
[style~="--rds-stack:"] > *:nth-child(n) {
  --gap-h-int: 0px;
  --gap-v-int: var( --gap, var( --gap-v, initial ));
  width: 100%;
}
rds-stack > *:last-child,
[style~="--rds-stack:"] > *:last-child {
  --gap-v-int: 0px;
}
rds-layout,
[style~="--rds-layout:"] {
  /* element */
  position: relative;
  box-sizing: border-box;
  --margin-right: initial;
  --margin-bottom: initial;
  --gap-h-int: initial;
  --gap-v-int: initial;
  margin-right: var( --margin-right, var( --gap-h-int, initial ) );
  margin-bottom: var( --margin-bottom, var( --gap-v-int, initial ) );
  display: block;
}
rds-layout > *:nth-child(n),
[style~="--rds-layout:"] > *:nth-child(n) {
  --gap-h-int: 0px;
  --gap-v-int: var( --gap, var( --gap-v, initial ));
  width: 100%;
}
rds-layout > *:last-child,
[style~="--rds-layout:"] > *:last-child {
  --gap-v-int: 0px;
}
rds-flex-h,
[style~="--rds-flex-h:"] {
  /* element */
  position: relative;
  box-sizing: border-box;
  --margin-right: initial;
  --margin-bottom: initial;
  --gap-h-int: initial;
  --gap-v-int: initial;
  margin-right: var( --margin-right, var( --gap-h-int, initial ) );
  margin-bottom: var( --margin-bottom, var( --gap-v-int, initial ) );
  /* flex element */
  position: relative;
  box-sizing: border-box;
  --align-items: initial;
  --justify-content: initial;
  align-items: var( --align-items , var( --ai-int, flex-start ) );
  justify-content: var( --justify-content , var( --jc-int, flex-start ) );
  display: flex;
  flex-flow: row nowrap;
  --ai-h: flex-start;
  --jc-h: flex-start;
  --ai-int: var( --ai-h, initial );
  --jc-int: var( --jc-h, initial );
}
rds-flex-h > *:nth-child(n),
[style~="--rds-flex-h:"] > *:nth-child(n) {
  --gap-h-int: var( --gap , var( --gap-h, initial ));
  --gap-v-int: 0px;
}
rds-flex-h > *:last-child,
[style~="--rds-flex-h:"] > *:last-child {
  --gap-h-int: 0px;
}
rds-flex-v,
[style~="--rds-flex-v:"] {
  /* element */
  position: relative;
  box-sizing: border-box;
  --margin-right: initial;
  --margin-bottom: initial;
  --gap-h-int: initial;
  --gap-v-int: initial;
  margin-right: var( --margin-right, var( --gap-h-int, initial ) );
  margin-bottom: var( --margin-bottom, var( --gap-v-int, initial ) );
  /* flex element */
  position: relative;
  box-sizing: border-box;
  --align-items: initial;
  --justify-content: initial;
  align-items: var( --align-items , var( --ai-int, flex-start ) );
  justify-content: var( --justify-content , var( --jc-int, flex-start ) );
  display: flex;
  flex-flow: column nowrap;
  --ai-v: flex-start;
  --jc-v: flex-start;
  --ai-int: var( --ai-v, initial );
  --jc-int: var( --jc-v, initial );
}
rds-flex-v > *:nth-child(n),
[style~="--rds-flex-v:"] > *:nth-child(n) {
  --gap-h-int: 0px;
  --gap-v-int: var( --gap, var( --gap-v, initial ));
}
rds-flex-v > *:last-child,
[style~="--rds-flex-v:"] > *:last-child {
  --gap-v-int: 0px;
}
rds-center,
[style~="--rds-center:"] {
  /* element */
  position: relative;
  box-sizing: border-box;
  --margin-right: initial;
  --margin-bottom: initial;
  --gap-h-int: initial;
  --gap-v-int: initial;
  margin-right: var( --margin-right, var( --gap-h-int, initial ) );
  margin-bottom: var( --margin-bottom, var( --gap-v-int, initial ) );
  /* flex element */
  position: relative;
  box-sizing: border-box;
  --align-items: initial;
  --justify-content: initial;
  align-items: var( --align-items , var( --ai-int, flex-start ) );
  justify-content: var( --justify-content , var( --jc-int, flex-start ) );
  display: flex;
  flex-flow: column nowrap;
  --ai-v: center;
  --jc-v: center;
  --ai-int: var( --ai-v, initial );
  --jc-int: var( --jc-v, initial );
}
rds-center > *:nth-child(n),
[style~="--rds-center:"] > *:nth-child(n) {
  --gap-h-int: 0px;
  --gap-v-int: var( --gap, var( --gap-v, initial ));
}
rds-center > *:last-child,
[style~="--rds-center:"] > *:last-child {
  --gap-v-int: 0px;
}
rds-float,
[style~="--rds-float:"] {
  /* element */
  position: relative;
  box-sizing: border-box;
  --margin-right: initial;
  --margin-bottom: initial;
  --gap-h-int: initial;
  --gap-v-int: initial;
  margin-right: var( --margin-right, var( --gap-h-int, initial ) );
  margin-bottom: var( --margin-bottom, var( --gap-v-int, initial ) );
  display: block;
}
rds-float > *:nth-child(n),
[style~="--rds-float:"] > *:nth-child(n) {
  --gap-h-int: 0px;
  --gap-v-int: var( --gap, var( --gap-v, initial ));
  width: auto;
  float: left;
  clear: left;
}
rds-float > *:last-child,
[style~="--rds-float:"] > *:last-child {
  --gap-v-int: 0px;
}
rds-float::after,
[style~="--rds-float:"]::after {
  content: "";
  clear: both;
  display: table;
}
@mixin rds-float-left {
  float: left;
}
@mixin rds-float-right {
  float: right;
}
@mixin rds-float-clear-left {
  clear: left;
  float: left;
}
@mixin rds-float-clear-right {
  clear: right;
  float: right;
}
@mixin rds-fill-children {
  & > * {
    flex: 1;
  }
}
@mixin rds-children-fill {
  & > * {
    flex: 1;
  }
}
@mixin rds-hide {
  display: none;
}
[style~="--rds-size:"] {
  width: var( --rds-size );
  height: var( --rds-size );
}
[style~="--rds-max-size:"] {
  max-width: var( --rds-max-size );
  max-height: var( --rds-max-size );
}
[style~="--rds-min-size:"] {
  min-width: var( --rds-min-size );
  min-height: var( --rds-min-size );
}
[style~="--rds-width:"] {
  width: var( --rds-width );
}
[style~="--rds-max-width:"] {
  max-width: var( --rds-max-width );
}
[style~="--rds-min-width:"] {
  min-width: var( --rds-min-width );
}
[style~="--rds-height:"] {
  height: var( --rds-height );
}
[style~="--rds-max-height:"] {
  max-height: var( --rds-max-height );
}
[style~="--rds-min-height:"] {
  min-height: var( --rds-min-height );
}
[style~="--rds-left:"] {
  left: var( --rds-left );
}
[style~="--rds-right:"] {
  right: var( --rds-right );
}
[style~="--rds-top:"] {
  top: var( --rds-top );
}
[style~="--rds-bottom:"] {
  bottom: var( --rds-bottom );
}
[style~="--rds-margin:"] {
  margin: var( --rds-margin );
}
[style~="--rds-margin-left:"] {
  margin-left: var( --rds-margin-left );
}
[style~="--rds-margin-right:"] {
  margin-right: var( --rds-margin-right );
}
[style~="--rds-margin-top:"] {
  margin-top: var( --rds-margin-top );
}
[style~="--rds-margin-bottom:"] {
  margin-bottom: var( --rds-margin-bottom );
}
[style~="--rds-margin-width:"] {
  margin-left: var( --rds-margin-width );
  margin-right: var( --rds-margin-width );
}
[style~="--rds-margin-x:"] {
  margin-left: var( --rds-margin-x );
  margin-right: var( --rds-margin-x );
}
[style~="--rds-margin-height:"] {
  margin-top: var( --rds-margin-height );
  margin-bottom: var( --rds-margin-height );
}
[style~="--rds-margin-y:"] {
  margin-top: var( --rds-margin-y );
  margin-bottom: var( --rds-margin-y );
}
[style~="--rds-padding:"] {
  padding: var( --rds-padding );
}
[style~="--rds-padding-left:"] {
  padding-left: var( --rds-padding-left );
}
[style~="--rds-padding-right:"] {
  padding-right: var( --rds-padding-right );
}
[style~="--rds-padding-top:"] {
  padding-top: var( --rds-padding-top );
}
[style~="--rds-padding-bottom:"] {
  padding-bottom: var( --rds-padding-bottom );
}
[style~="--rds-padding-width:"] {
  padding-left: var( --rds-padding-width );
  padding-right: var( --rds-padding-width );
}
[style~="--rds-padding-x:"] {
  padding-left: var( --rds-padding-x );
  padding-right: var( --rds-padding-x );
}
[style~="--rds-padding-height:"] {
  padding-top: var( --rds-padding-height );
  padding-bottom: var( --rds-padding-height );
}
[style~="--rds-padding-y:"] {
  padding-top: var( --rds-padding-y );
  padding-bottom: var( --rds-padding-y );
}
[style~="--rds-border-radius:"] {
  border-radius: var( --rds-border-radius );
}
[style~="--rds-gap:"] > * {
  --gap: var( --rds-gap );
}
[style~="--rds-fill:"] {
  flex: var( --rds-fill );
}
[style~="--rds-shadow:"] {
  box-shadow: var( --rds-shadow )
}
[style~="--rds-blur:"] {
  filter: blur(var( --rds-blur ))
}