$rds-color-primary-1: #26005c;
$rds-color-primary-2: #3e0d83;
$rds-color-primary-3: #5b22ab;
$rds-color-primary-4: #7c3fd2;
$rds-color-primary-5: #a164f9;
$rds-color-primary: #a164f9;
$rds-color-primary-6: #b27efb;
$rds-color-primary-7: #c297fc;
$rds-color-primary-8: #d1b2fe;
$rds-color-primary-9: #e1ccff;
$rds-color-grey-0: #000000;
$rds-color-grey-1: #171618;
$rds-color-grey-2: #2e2c30;
$rds-color-grey-3: #454248;
$rds-color-grey-4: #5c5960;
$rds-color-grey-5: #747178;
$rds-color-grey: #747178;
$rds-color-grey-6: #8f8c93;
$rds-color-grey-7: #aaa8ae;
$rds-color-grey-8: #c6c4c9;
$rds-color-grey-9: #e2e1e4;
$rds-color-grey-10: #ffffff;
$rds-type-test-10: 400 1.813em/2.175em 'Amarante';
$rds-type-test-9: 400 1.5em/1.8em 'Amarante';
$rds-type-test-8: 400 1.313em/1.575em 'Amarante';
$rds-type-test-7: 400 1.188em/1.425em 'Amarante';
$rds-type-test-6: 400 1.063em/1.275em 'Amarante';
$rds-type-test-5: 400 1em/1.2em 'Amarante';
$rds-type-test: 400 1em/1.2em 'Amita';
$rds-type-test-4: 400 0.938em/1.125em 'Amarante';
$rds-type-test-3: 400 0.875em/1.05em 'Amarante';
$rds-type-test-2: 400 0.75em/0.9em 'Amarante';
$rds-type-test-1: 400 0.688em/0.825em 'Amarante';
$rds-type-text-10: 400 2.125em/2.55em 'Open Sans';
$rds-type-text-9: 400 1.75em/2.1em 'Open Sans';
$rds-type-text-8: 400 1.5em/1.8em 'Open Sans';
$rds-type-text-7: 400 1.188em/1.425em 'Open Sans';
$rds-type-text-6: 400 1.063em/1.275em 'Open Sans';
$rds-type-text-5: 400 1em/1.2em 'Open Sans';
$rds-type-text: 400 1em/1.2em 'Open Sans';
$rds-type-text-4: 400 0.938em/1.125em 'Open Sans';
$rds-type-text-3: 400 0.875em/1.05em 'Open Sans';
$rds-type-text-2: 400 0.75em/0.9em 'Open Sans';
$rds-type-text-1: 400 0.688em/0.825em 'Open Sans';
$rds-spacing-0: 0px;
$rds-spacing-0-3: 2.5px;
$rds-spacing-0-6: 5px;
$rds-spacing-0-9: 7.5px;
$rds-spacing-1: 10px;
$rds-spacing-1-3: 12.5px;
$rds-spacing-1-6: 15px;
$rds-spacing-1-9: 17.5px;
$rds-spacing-2: 20px;
$rds-spacing-3: 30px;
$rds-spacing-4: 40px;
$rds-spacing-5: 50px;
$rds-spacing-6: 60px;
$rds-spacing-7: 70px;
$rds-spacing-8: 80px;
$rds-spacing-9: 90px;
$rds-spacing-10: 100px;
$rds-spacing-11: 110px;
$rds-spacing-12: 120px;
$rds-spacing-col-0: 0%;
$rds-spacing-col-0-3: 2.7775%;
$rds-spacing-col-0-4: 2.0833%;
$rds-spacing-col-0-6: 4.1667%;
$rds-spacing-col-0-8: 6.25%;
$rds-spacing-col-0-9: 5.555%;
$rds-spacing-col-1: 8.3333%;
$rds-spacing-col-1-3: 11.1108%;
$rds-spacing-col-1-4: 10.4167%;
$rds-spacing-col-1-6: 12.5%;
$rds-spacing-col-1-8: 14.5833%;
$rds-spacing-col-1-9: 13.8883%;
$rds-spacing-col-2: 16.6667%;
$rds-spacing-col-2-3: 19.4442%;
$rds-spacing-col-2-4: 18.75%;
$rds-spacing-col-2-6: 20.8333%;
$rds-spacing-col-2-8: 22.9167%;
$rds-spacing-col-2-9: 22.2217%;
$rds-spacing-col-3: 25%;
$rds-spacing-col-3-3: 27.7775%;
$rds-spacing-col-3-4: 27.0833%;
$rds-spacing-col-3-6: 29.1667%;
$rds-spacing-col-3-8: 31.25%;
$rds-spacing-col-3-9: 30.555%;
$rds-spacing-col-4: 33.3333%;
$rds-spacing-col-5: 41.6667%;
$rds-spacing-col-6: 50%;
$rds-spacing-col-7: 58.3333%;
$rds-spacing-col-8: 66.6667%;
$rds-spacing-col-9: 75%;
$rds-spacing-col-10: 83.3333%;
$rds-spacing-col-11: 91.6667%;
$rds-spacing-col-12: 100%;
$rds-spacing-colvw-0: 0vw;
$rds-spacing-colvw-0-3: 2.7775vw;
$rds-spacing-colvw-0-4: 2.0833vw;
$rds-spacing-colvw-0-6: 4.1667vw;
$rds-spacing-colvw-0-8: 6.25vw;
$rds-spacing-colvw-0-9: 5.555vw;
$rds-spacing-colvw-1: 8.3333vw;
$rds-spacing-colvw-1-3: 11.1108vw;
$rds-spacing-colvw-1-4: 10.4167vw;
$rds-spacing-colvw-1-6: 12.5vw;
$rds-spacing-colvw-1-8: 14.5833vw;
$rds-spacing-colvw-1-9: 13.8883vw;
$rds-spacing-colvw-2: 16.6667vw;
$rds-spacing-colvw-2-3: 19.4442vw;
$rds-spacing-colvw-2-4: 18.75vw;
$rds-spacing-colvw-2-6: 20.8333vw;
$rds-spacing-colvw-2-8: 22.9167vw;
$rds-spacing-colvw-2-9: 22.2217vw;
$rds-spacing-colvw-3: 25vw;
$rds-spacing-colvw-3-3: 27.7775vw;
$rds-spacing-colvw-3-4: 27.0833vw;
$rds-spacing-colvw-3-6: 29.1667vw;
$rds-spacing-colvw-3-8: 31.25vw;
$rds-spacing-colvw-3-9: 30.555vw;
$rds-spacing-colvw-4: 33.3333vw;
$rds-spacing-colvw-5: 41.6667vw;
$rds-spacing-colvw-6: 50vw;
$rds-spacing-colvw-7: 58.3333vw;
$rds-spacing-colvw-8: 66.6667vw;
$rds-spacing-colvw-9: 75vw;
$rds-spacing-colvw-10: 83.3333vw;
$rds-spacing-colvw-11: 91.6667vw;
$rds-spacing-colvw-12: 100vw;